.custom-block
  .custom-block-title
    font-weight 600
    margin-bottom -0.4rem
  &.tip, &.warning, &.danger
    padding .1rem 1.5rem
    border-left-width .5rem
    border-left-style solid
    margin 1rem 0
  &.tip
    background-color #2E2E2E
    border-color #82C299
    color #c4c4c4
  &.warning
    background-color #2E2E2E
    border-color darken(#FFEA6C, 35%)
    color #FFEA6C
    .custom-block-title
      color darken(#FFEA6C, 20%)
    a
      color $textColor
  &.danger
    background-color #2E2E2E
    border-color darken(#F56D6D, 20%)
    color #F56D6D
    .custom-block-title
      color #F56D6D
    a
      color $textColor
  &.details
    display block
    position relative
    border-radius 2px
    margin 1.6em 0
    padding 1.6em
    background-color #2E2E2E
    h4
      margin-top 0
    figure, p
      &:last-child
        margin-bottom 0
        padding-bottom 0
    summary
      outline none
      cursor pointer
