/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important
  color black

.description
  color black!important

.home .feature h2
  color black!important

.home .feature p
  color black!important

header
  color black
  &.navbar
    background-color black
    color white
    .site-name
      background-color black
      color white
    .links
      color white
      background-color black

&.navbar
  border 0px

aside.sidebar
  background-color black

a.active
  color white!important

ul.sidebar-sub-headers
  color white!important
  border-top 2px solid $accentColor

.page
  background-color white
  color black

.theme-default-content code
  background-color $codeBgColor

a.router-link-active
  color $accentColor!important

.theme-default-content
  max-width: inherit!important

img
  display block