@font-face {
  font-family: 'RedHatDisplay';
  src: url('/fonts/RedHatDisplay-Regular.woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'RedHatText';
  src: url('/fonts/RedHatText-Regular.woff');
  font-weight: 300;
  font-style: normal;
}

/* latin-ext */
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Overpass Mono Regular'), local('OverpassMono-Regular'), url(https://fonts.gstatic.com/s/overpassmono/v6/_Xmq-H86tzKDdAPa-KPQZ-AC1iG0ts-2.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

html, body
  background-color black
  background-image url('/bgtile.png')
  background-repeat repeat
  font-family RedHatText

code, kbd, .line-number
  background-color #343434
  font-family 'Overpass Mono', monospace

pre
  font-family 'Overpass Mono', monospace
  background-color #252525

aside.sidebar
    background rgba(255,255,255,0.25)
    border-radius 0.8rem 2.2rem
    border none
    margin 0.5rem
    box-shadow 0.35rem 0.35rem 0.2rem rgba(255,255,255,0.15)

@media (max-width: $MQMobile)
  aside.sidebar
    margin 0
    background #5B5B5B;
    border none
    border-radius 0 1.5rem 0 0
    box-shadow none

.search-box
    &.focused
        color black

.suggestions
    color black

.custom-block-title
    font-family 'RedHatDisplay', 'sans-serif'
    font-size 1.5rem
    text-decoration underline

.custom-block
    &.tip
        color black
    &.warning
        background-color: #f3f5f7

.navbar
  .links
    background: transparent
  border: 0px;

.nav-links
  color: $textColor

.nav-link:hover
    color: white
    text-shadow: 0.05rem 0.05rem 0.02rem white

.navbar
    background: transparent
    background-color: transparent

h1, h2, h3, h4
  color: white
  font-family: RedHatDisplay
  &:hover
      color: $accentColor

.tabs-component
  margin 2em 0

.tabs-component-tabs
  border solid 1px #ddd
  border-radius 6px
  margin-bottom 5px
  padding-left 0

.tabs-component-tab
  color #999
  font-size 14px
  font-weight 600
  margin-right 0
  list-style none
  &:hover
    color: #666
  &.is-active
    color $accentColor
  &.is-disabled *
    color #cdcdcd
    cursor not-allowed !important

.tabs-component-tab-a
  align-items center
  color inherit
  display flex
  padding .25em .5em
  text-decoration none

.tabs-component-panels
  padding 1em 0

@media (min-width: 700px)
  .tabs-component-tabs
    border 0
    align-items stretch
    display flex
    justify-content flex-start
    margin-bottom -1px

  .tabs-component-tab
    background-color #000
    border solid 1px #ddd
    border-radius 3px 3px 0 0
    margin-right .25em
    transition transform .3s ease
  &.is-active
    border-bottom solid 1px #ddd
    z-index 2
    transform translateY(0)

  .tabs-component-panels
    border-top-left-radius 0
    background-color #000
    border solid 1px #ddd
    border-radius 0 6px 6px 6px
    box-shadow 0 0 10px rgba(0, 0, 0, .05)
    padding 1em 1em