/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */
 @require '~vuepress-plugin-tabs/dist/themes/default.styl'

.home .hero img
  max-width 450px!important
  color black

.description
  color black!important

.home .feature h2
  color black!important

.home .feature p
  color black!important

img.logo
    height 4.8rem!important

header
  color black
  &.navbar
    background-color black
    color white
    .site-name
      background-color black
      color white
    .links
      color white
      background-color black

.search-box input
  color black!important

ul > li > a > span.page-title
  color black!important
  &:hover
    color $accentColor!important

&.navbar
  border 0px

aside.sidebar
  background-color black

a.active
  color white!important

ul.sidebar-sub-headers
  color white!important
  border-top 2px solid $accentColor

a.sidebar-link.active
  color white!important
  border 0px!important
  border-bottom 2px solid $accentColor

.page
  background-color white
  color black

.theme-default-content code
  background-color $codeBgColor

a.router-link-active
  color $accentColor!important

.theme-default-content
  max-width: inherit!important

img
  display block